.App {
  text-align: center;
}

.message-box-app{
  background-color: #f4f4ff;
  height: 100vh;
}
.header{
  width: 100%;
  height: 50px;
  background-color: #f4f4ff;

}
.message-container{
  display: flex;
  height: 80vh;
  width: 100%;

}

.matches-window{
  background-color: white;
  width: 20vw;
  height: 93vh;
}

.topic-container{
  border-radius: 10px;
  width: 95%;
  height: 92px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid white;
}
.topic-container:hover{
  border: 1px solid gray;
}
.matches-text{
  width: 125px;
  color: #ff5b77;
  font-size: 20px;
  font-weight: 600;
}
.topic-img-container{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}
.topic-header{
  margin: 0;
}
.chat-container{
  border: 1px solid #5a5a5a1a;
  width: 67vw;
  height: 95%;
  background-color: #f4f4ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.single-message-text-other{
  margin: 5px 20px;
  display: flex;
  border-radius: 25px;
  background-color: #b6b6b6;
}
.single-message-text-self{
  align-self: flex-end;
  margin: 5px 20px;
  display: flex;
  border-radius: 25px;
  background-color: #56d5ff;
}
.single-message-text{
  padding: 0px 20px;
  font-size: 15px;
}

.user-msg-info-img{
  width: 15vw;
  height: 16vw;
}
.user-msg-info-header{
  font-size: 17px;
  text-align: start;
  margin: 15px 10px;
}
.user-msg-info-text{
  width: 15vw;
  color: #c1c1c1;
  font-size: 15px;
  text-align: start;
  margin: 15px 10px;
}
.input-msg-container{
  max-width: 55rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
}
.send-message-text-input {
  height: 38px;
  width: 48vw;
  border: none;
  border-bottom: 1px solid #d5d5d5;
  margin: 10px;
  align-self: flex-start;
}

.send-message-button{
  background-color: #935bff;
  border: none;
  color: white;
  height: 45px;
  width: 100px;
  border-radius: 12px;
  font-size: 17px;
}

